.menu-item-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #6d6e71;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  border: 1px solid #f9f9f9;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -ms-transition: border 0.5s;
  -o-transition: border 0.5s;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.menu-item-list li:hover {
  border: 1px solid #8bc341;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.menu-item-new {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 10px;
}
.hot-cold {
  display: inline-block;
}
.hot-cold .hot {
  color: #ff0000;
}
.hot-cold .cold {
  color: #8bc341;
}
@media screen and (max-width: 400px) {
  .menu-item-new {
    font-size: 10px;
    padding: 5px;
    margin-right: 7px;
  }
  .hot-cold {
    font-size: 14px;
  }
}
