.menu-item-list li {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-bottom: 0px;
  color: #6d6e71;
  font-size: 22px;
  font-weight: 600; */
  margin: 10px 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.menu-item-new {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 10px;
}
.hot-cold {
  display: inline-block;
}
.hot-cold .hot {
  color: #ff0000;
}
.hot-cold .cold {
  color: #8bc341;
}
.collapse {
  width: 100%;
  /* margin-bottom: 0px; */
  color: #6d6e71;
  background-color: #f9f9f9;
  border: none;
  font-size: 22px;
  font-weight: 600;
  /* padding: 5px 10px; */
  /* border: 1px solid #fff; */
  /* transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -ms-transition: border 0.5s;
  -o-transition: border 0.5s; */
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.collapse-content {
  width: 100% !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;

}
:where(.css-dev-only-do-not-override-7ny38l).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
  display: none !important;
}
:where(.css-dev-only-do-not-override-7ny38l).ant-collapse .ant-collapse-content {
  border-top: none !important;
}
.collapse-text {
  font-size: 18px;
  font-weight: 700;
  color: #8A8080;
  text-align: right;
}
@media screen and (max-width: 800px) {
  .collapse {
    font-size: 20px;
  }
  .menu-item-new {
    font-size: 10px;
    padding: 5px;
    margin-right: 7px;
  }
  .hot-cold {
    font-size: 14px;
  }
}
@media screen and (max-width:831px) {
  .collapse-text {
    font-size: 16px;
  }
}
@media screen and (max-width:710px) {
  .collapse-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 605px) {
  .collapse {
    font-size: 18px;
  }
  .menu-item-new {
    font-size: 8px;
    padding: 5px;
    margin-right: 5px;
  }
  .hot-cold {
    font-size: 10px;
  }
}
@media screen and (max-width: 530px) {
  .collapse {
    font-size: 16px;
  }
  .menu-item-new {
    font-size: 6px;
    padding: 2px;
    margin-right: 5px;
  }
  .hot-cold {
    font-size: 8px;
  }
}
@media screen and (max-width: 460px) {
  .collapse {
    font-size: 14px;
  }
  .menu-item-new {
    font-size: 6px;
    padding: 2px;
    margin-right: 5px;
  }
  .hot-cold {
    font-size: 8px;
  }
}
@media screen and (max-width: 430px) {
  .collapse {
    font-size: 13px;
  }
  .menu-item-new {
    font-size: 5px;
    padding: 2px;
    margin-right: 5px;
  }
  .hot-cold {
    font-size: 5px;
  }
}
@media screen and (max-width: 390px) {
  .collapse {
    font-size: 10px;
  }
  .menu-item-new {
    font-size: 4px;
    padding: 2px;
    margin-right: 2px;
  }
  .hot-cold {
    font-size: 4px;
  }
  .collapse-text {
    font-size: 11px;
  }
}
@media screen and (max-width: 335px) {
  .collapse {
    font-size: 8px;
  }
  .menu-item-new {
    font-size: 3px;
    padding: 2px;
    margin-right: 3px;
  }
  .collapse-text {
    font-size: 9px;
  }
}
@media screen and (max-width: 310px) {
  .collapse {
    font-size: 6px;
  }
  .collapse-text {
    font-size: 8px;
  }
}
