.pages-menu-item-title {
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}
/* .pages-menu-item-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 95%;
  z-index: -1;
  height: 0;
  background-color: #f9f9f9;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
} */
.pages-menu-item-h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 12px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
/* .pages-menu-item-title:hover::after {
  height: 75%;
}
.pages-menu-item-title:hover {
  color: #8bc341;
} */
.line {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 60px;
  background-color: #888f97;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.menu-item-list {
  list-style-type: none;
  padding: 0 15px;
  margin: 0 0 20px 0;
}
.menu-item-img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.menu-item-img > img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media screen and (max-width: 992px) {
  .pages-menu-item-h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 695px) {
  .menu-item-list {
    padding: 0px;
  }
  .pages-menu-item-h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .pages-menu-item-title {
    padding: 10px 8px;
  }
  /* .pages-menu-item-h3 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  } */
  .pages-menu-item-h3 {
    font-size: 10px;
  }
}
/* @media screen and (max-width: 320px) {
  .pages-menu-item-h3 {
    font-size: 14px;
  }
} */
