.pages-menu-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:15px;
}
.pages-menu-left,
.pages-menu-right {
  width: 50%;
}
.cairo-img {
  width: 100%;
  height: auto;
  margin: 10px auto 0px auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.cairo-img > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .pages-menu-content {
    gap: 12px;
  }
  .cairo-img {
    margin: 0px auto 0px auto;
  }
}
@media screen and (max-width: 480px) {
  .pages-menu-content {
    gap: 10px;
  }
}

@media screen and (max-width: 435px) {
  .pages-menu-content {
    gap: 7px;
  }
}
