.about {
  margin-bottom: 10px;
  padding: 50px 0 20px 0;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.about-left {
  /* width: 43%; */
  flex: 1;
}
.about-right {
  /* width: 55%; */
  flex: 2;
}
.about-left img {
  /* width: 94%; */
  max-width: 430px;
  max-height: 430px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.about-title {
  color: #000;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about-title span {
  color: #8dc63f;
}
.about-desc {
  color: #676767;
  width: 380px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 1115px) {
  .about-content {
    gap: 50px;
  }
  .about-left img {
    max-width: 400px;
    max-height: 400px;
  }
  .about-title {
    font-size: 34px;
  }
}
@media screen and (max-width: 992px) {
  .about-title {
    font-size: 28px;
  }
  .about-desc {
    font-size: 16px;
  }
  .about-left img {
    max-width: 320px;
    max-height: 320px;
  }
}
@media screen and (max-width: 808px) {
  .about-content {
    gap: 20px;
  }
  .about-left img {
    max-width: 280px;
    max-height: 280px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding: 15px 0 0px 0;
  }
  .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about-left,
  .about-right {
    width: 100%;
    text-align: center;
  }
  .about-desc {
    margin: 0 auto 20px auto;
  }
}
@media screen and (max-width: 520px) {
  .about-desc {
    width: 100%;
  }
}
@media screen and (max-width: 445px) {
  .about-left img {
    max-width: 220px;
    max-height: 220px;
  }
}
@media screen and (max-width: 416px) {
  .about-title {
    font-size: 25px;
  }
  /* .about-left img {
    width: 230px;
    height: 230px;
  } */
}
@media screen and (max-width: 367px) {
  .about-title {
    font-size: 22px;
  }
  .about-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 325px) {
  .about-title {
    font-size: 18px;
  }
  .about-desc {
    font-size: 13px;
  }
}

/* @media screen and (max-width:445px) {
    .about-left img {
        width: 300px;
        height: 300px;
    }
} */
