.pages-header {
  margin-top: 30px;
  margin-bottom: 40px;
}
.pages-title {
  text-align: center;
  font-size: 40px;
  color: #8bc341;
}
.pages-title:hover {
  animation: focus-in-expand 1s linear 0s 1 normal none;
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@media screen and (max-width: 601px) {
  .pages-header {
    /* margin-top: 120px; */
    margin-bottom: 30px;
  }
  .pages-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 442px) {
  .pages-header {
    margin-bottom: 25px;
  }
  .pages-title {
    font-size: 33px;
  }
}
@media screen and (max-width: 400px) {
  .pages-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 367px) {
  .pages-title {
    font-size: 22px;
  }
}
