.pocket {
  margin-bottom: 80px;
}
.pocket-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.pocket-item-left {
  width: 50%;
}
.pocket-item-title {
  color: #1e1e1e;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.pocket-item-title:hover {
  color: #8dc63f;
}
.pocket-item-title + p {
  color: #676767;
  font-weight: 500;
  line-height: 1.5;
  width: 310px;
  margin-bottom: 25px;
}
.pocket-icon {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.pocket-icon > img {
  width: 180px;
  height: 60px;
}
.pocket-item-right {
  width: 45%;
  height: auto;
  text-align: right;
}
.pocket-item-right > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 997px) {
  .pocket-item-right {
    width: 50%;
  }
  .pocket-content {
    gap: 50px;
  }
}
@media screen and (max-width: 942px) {
  .pocket-item-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .pocket-content {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0px;
  }
  .pocket-item-right {
    width: 290px;
  }
  .pocket-item-left {
    width: 100%;
    margin-top: -20px;
  }
  .pocket-item-title {
    text-align: center;
  }
  .pocket-item-title + p {
    width: 400px;
    margin: 0 auto 25px auto;
    text-align: center;
  }
  .pocket-icon {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 451px) {
  .pocket-item-title {
    font-size: 28px;
  }
  .pocket-item-title + p {
    width: 100%;
  }
  .pocket-icon > img {
    width: 160px;
    height: 55px;
  }
}
@media screen and (max-width: 390px) {
  .pocket-item-title {
    font-size: 25px;
  }
  .pocket-item-title + p {
    font-size: 15px;
  }
  .pocket-icon > img {
    width: 140px;
    height: 50px;
  }
  .pocket-item-right {
    width: 240px;
  }
}
@media screen and (max-width: 328px) {
  .pocket-item-title {
    font-size: 21px;
  }
  .pocket-item-title + p {
    font-size: 14px;
  }
  .pocket-item-right {
    width: 240px;
    padding-left: 20px;
  }
}
