* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body {
  background-color: #f9f9f9 !important;
}
.container {
  width: 90%;
  margin: 0 auto;
}
[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

:where(.css-dev-only-do-not-override-7ny38l).ant-modal .ant-modal-content  {
  padding: 20px 10px;
}
@media (max-width: 767px) {
  :where(.css-dev-only-do-not-override-7ny38l).ant-modal-root .ant-modal {
      max-width: calc(100vw - 25px);
      margin: 8px auto;
  }
}