.branches {
  /* margin-bottom: 80px; */
  padding: 20px 0 40px 0;
  overflow: hidden;
}
/* .branches-title {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
} */
/* .branches-title:hover {
  color: #ff330f;
} */
/* .branches-desc {
  font-size: 15px;
  color: #828282;
  text-align: center;
  width: 450px;
  margin: 0 auto 30px auto;
  font-weight: 500;
} */
.branch-card {
  width: 190px !important;
  margin: 0 auto;
  height: 425px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.branch-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.branch-content > img {
  width: 40px;
  height: auto;
  margin-bottom: 30px;
}
.branch-desc {
  font-size: 14px;
  color: #828282;
  margin-bottom: 30px;
  font-weight: 500;
}
.branch-address {
  font-size: 14px;
  color: #252b33;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.branch-phone {
  color: #8dc63f;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.branch-phone > img {
  margin: 0 5px;
}
.slick-list {
  height: 450px;
  overflow: hidden;
}
.slick-slider,
.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
  /* overflow: hidden; */
}
@media screen and (max-width: 320px) {
  .branch-address {
    font-size: 16px;
  }
}
@media screen and (max-width: 516px) {
  .branches-desc {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .branches-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 399px) {
  .branches-title {
    font-size: 25px;
  }
  .branches-desc {
    font-size: 14px;
  }
  .branch-card {
    width: 188px !important;
  }
}
@media screen and (max-width: 354px) {
  .branches-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 314px) {
  .branches-title {
    font-size: 19px;
  }
  .branches-desc {
    font-size: 13px;
  }
  .branch-card {
    width: 170px !important;
  }
  .branch-address {
    font-size: 12px;
  }
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-spin-dot {
  color: #8dc63f ;

}